/* Arquivo estilos.css */
body {
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    margin-bottom: 20px;
}

